.users {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
  color: #ccc;
  background-color: darkorchid;
  border-radius: 15px;
}

.users ul {
  list-style: none;
  padding: 1rem;
}

.users li {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 0.8rem;
  background-color: black;
}
